mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}

mat-sidenav {
    width: 250px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover, a:active {
    color: lightyellow;
}

.navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.icon {
    display: inline-block;
    height: 30px;
    margin: 0 auto; 
    padding-right: 15px;
    text-align: center;
    vertical-align: middle;
    width: 15%;
}

.label {
    display: inline-block;
    line-height: 30px;
    margin: 0;
    width: 85%;
}