<p-toast></p-toast>
<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation" *ngIf="currentUser">
    <mat-nav-list>
      <a mat-list-item routerLink="/">
        <mat-icon> class="icon">home</mat-icon>
        <span class="label">Home</span>
      </a>
      <a mat-list-item routerLink="/account">
        <mat-icon> class="icon">face</mat-icon>
        <span class="label">Account</span>
      </a>
      <a mat-list-item (click)="logout()" type="button">
        <mat-icon> class="icon">exit_to_app</mat-icon>
        <span class="label">Logout</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" *ngIf="currentUser">
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div>
        <a routerLink="/">
          Tom's Vendor Portal
        </a>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
          <li>
            <a routerLink="/">
              <mat-icon class="icon">home</mat-icon>
              <span class="label">Home</span>
            </a>
          </li>
          <li>
            <a routerLink="/account">
              <mat-icon class="icon">face</mat-icon>
              <span class="label">Account</span>
            </a>
          </li>
          <li>
            <a (click)="logout()" type="button">
              <mat-icon class="icon">exit_to_app</mat-icon>
              <span class="label">Logout</span>
            </a>
          </li>
        </ul>
      </div>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
