<mat-card class="login-card" layout="row" layout-align="center center">
  <mat-card-header layout="row" layout-align="center center">
    <img src="../../../assets/tomsmall.png" />
  </mat-card-header>
  <div style="height:60px; padding: 10px; text-align: center">
    <h1 style="margin-top:-10px">Vendor Portal</h1>
    <h3 style="margin-top:-20px">Login</h3>
  </div>
  <mat-card-content layout="row" layout-align="center center">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <table>
        <tr>
          <td>
            <mat-form-field>
              <mat-label>E-Mail Address</mat-label>
              <input matInput placeholder="E-Mail Address" formControlName="emailAddress" required />
              <mat-error>
                E-Mail Address is required.
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input matInput type="password" placeholder="Password" formControlName="password" required />
              <mat-error>
                Password is required.
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="onSubmit()" color="primary">Login</button>
    <a routerLink="/register"><button mat-raised-button color="primary" style="float:right">Register</button></a>
  </mat-card-actions>
</mat-card>
