
::ng-deep body {
    margin: 0;
    padding: 0;
    background-color: rgb(44,44,44);
}

.login-card {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.mat-form-field {
    width: 100%;
    box-sizing: border-box;
    font-family: "Roboto";
}

.mat-card-header {
    background-color: white;
}

::ng-deep .mat-card-header-text {
    margin: 0px !important;
}

input {
    width: 100%;
}

table {
    width: 100%;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.mat-card-actions {
    padding: 0 12px;
}
