<mat-card class="register-card" layout="rows" layout-align="center center">
  <mat-card-header layout="row" layout-align="center center">
    <img src="../../assets/tomsmall.png" />
  </mat-card-header>
  <div style="height:60px; padding: 10px; text-align: center">
    <h1 style="margin-top:-10px">Vendor Portal</h1>
    <h3 style="margin-top:-20px">Registration</h3>
  </div>
  <mat-card-content layout="row" layout-align="center center">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <table>
        <tr>
          <td>
            <mat-form-field>
              <mat-label>E-Mail Address</mat-label>
              <input matInput placeholder="E-Mail Address" formControlName="emailAddress" required />
              <mat-error *ngIf="email.hasError('required')">E-Mail Address is required.</mat-error>
              <mat-error *ngIf="email.hasError('email')">Must enter a valid e-mail address.</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <mat-label>First Name</mat-label>
              <input matInput placeholder="First Name" formControlName="firstName" required />
              <mat-error>
                First Name is required.
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <mat-label>Last Name</mat-label>
              <input matInput placeholder="Last Name" formControlName="lastName" required />
              <mat-error>
                Last Name is required.
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <mat-form-field>
            <mat-label>Vendor ID</mat-label>
            <input matInput placeholder="Vendor ID" formControlName="vendorId" required />
            <mat-error *ngIf="vendID.hasError('required')">Vendor ID is required.</mat-error>
            <mat-error *ngIf="vendID.hasError('minlength') || vendID.hasError('maxlength')">Vendor ID must be 6 characters long.</mat-error>
          </mat-form-field>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input matInput type="password" placeholder="Password" formControlName="password" required />
              <mat-error *ngIf="pword.hasError('required')">Password is required.</mat-error>
              <mat-error *ngIf="pword.hasError('minlength')">Password must be at least 8 characters long.</mat-error>
              <mat-error *ngIf="pword.hasError('maxlength')">Password can be no longer than 20 characters.</mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content> 
  <mat-card-actions>
    <button mat-raised-button (click)="onSubmit()" color="primary">Register</button>
    <a routerLink="/login"><button mat-raised-button color="primary" style="float:right">Cancel</button></a>
  </mat-card-actions>
</mat-card>
